@import url("../../styles/variables.css");

.AdCtn {
  display: inline-block;
  border-radius: 12px;
  color: var(--color-text);
  max-width: 250px;
  padding: 6.5px;
  margin-bottom: 15px;
  box-shadow: 5px 5px 15px 1px var(--shadow-color);
  background-color: var(--background1);
}

.AdCtn:nth-of-type(2n) {
  background-color: var(--background6);
}

.AdCtn:hover {
  transform: scale(1.02);
}

.AdImage {
  background-color: var(--background5);
  border-radius: 8px 8px 0 0;
  object-fit: contain;
  height: 300px;
  width: 100%;
}

.AdInfos {
  display: grid;
  justify-items: start;
  width: 100%;
  text-align: start;
  word-break: break-all;
  border-radius: 0 0 8px 8px;
  padding: 10px;
  background-color: var(--background3);
}

.AdInfos h2 {
  max-height: 315px;
  width: 100%;
  overflow: hidden;
}

.AdCtn:nth-of-type(2n) .AdInfos {
  background-color: var(--background4);
}

.AdInfos h4 {
  color: var(--secondary-color);
}

@media screen and (max-width: 600px) {
  .AdCtn {
    max-width: none;
    width: calc(100% - 32px);
  }

  .AdCtn:hover {
    transform: none;
  }
}
