@import url("../../styles/variables.css");

.AdCtn {
  border-radius: 12px;
  color: var(--color-text);
  width: 250px;
  padding: 7px;
  background-color: var(--background1);
}

.AdCtn:nth-of-type(2n) {
  background-color: var(--background6);
}

.AdCtn:hover {
  transform: scale(1.03);
}

.AdImage {
  background-color: var(--background5);
  object-fit: contain;
  height: 250px;
  width: 100%;
}

.AdInfos {
  display: grid;
  justify-items: start;
  width: 100%;
  text-align: start;
  word-break: break-all;
  border-radius: 0 0 12px 12px;
  padding: 10px;
  background-color: var(--background3);
}

.AdInfos h2 {
  max-height: 315px;
  overflow: hidden;
  text-overflow: clip;
}

.AdCtn:nth-of-type(2n) .AdInfos {
  background-color: var(--background5);
}

.AdInfos h4 {
  color: var(--secondary-color);
}

@media screen and (max-width: 550px) {
  .AdCtn {
    width: 100%;
  }

  .AdCtn:hover {
    transform: none;
  }
}
