@import "tailwindcss";
@import "../../styles/variables.css";

.loginBackground {
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.37);
}

.loginForms {
  container-type: inline-size;
  container-name: form;
  width: calc(100% - 50px);
  max-width: 650px;
}

.loginCtn,
.registerCtn {
  align-items: center;
  height: 420px;
  width: 100%;
  border-radius: 25px;
  box-shadow: 0 0 15px var(--shadow-color);
  background-color: var(--background5);
  will-change: display;
}

.loginCtn {
  display: flex;
}

/* @container form (width < 600px) {
  .loginCtn,
  .registerCtn {
    display: grid;
    height: 450px;
    background-color: red;
  }
} */

.title-and-switch {
  gap: 10px;
  display: grid;
  align-content: center;
  justify-items: center;
  height: 100%;
  width: 280px;
}

.switch-form {
  display: flex;
  padding: 5px;
  width: 100%;
}

.switch-form p {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
}

.switch-link {
  cursor: pointer;
  color: var(--color-text);
}

.switch-link:hover {
  text-decoration: underline;
}

.loginCtn h2,
.registerCtn h2 {
  font-weight: 700;
  font-size: 45px;
  width: 100%;
  text-align: center;
}

.loginForm {
  flex: 1;
  display: flex;
  padding: 20px;
  height: 100%;
  background-color: var(--background3);
  border-radius: 25px;
  /* display: grid; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.loginForm input {
  @apply p-0.5 w-full rounded-lg bg-(--background1) border-5 border-(--background4) outline-none text-(--text-secondary) h-[55px] dark:bg-amber-400;
  /* height: 55px;
  border-radius: 14px;
  border: none;
  outline: none;
  border: 5px var(--background4) solid;
  width: 100%;
  background-color: var(--background1); */
}

.loginForm button {
  @apply rounded-[15px] bg-(--secondary-color) text-black border-6 border-(--background3) w-[120px] h-[55px] hover:bg-orange-400 transition active:bg-amber-500;
  /* margin-top: 15px;
  cursor: pointer;
  height: 55px;
  width: 150px;
  border: 6px var(--background3) solid;
  border-radius: 14px;
  background-color: var(--secondary-color);
  padding: 0;
  color: black; */
}

.loginFields {
  flex: 1;
  gap: 10px;
  display: grid;
  width: 100%;
  align-content: center;
}
/* .loginFields button:hover {
  background-color: var(--darker-secondary-color);
}
.loginFields button:active {
  background-color: var(--darker-secondary-color);
} */

@media screen and (max-width: 700px) {
  .loginForms {
    max-width: 400px;
  }

  .loginCtn,
  .registerCtn {
    max-height: 450px;
  }

  .title-and-switch {
    width: 100%;
    justify-content: center;
  }

  .loginForm {
    background-color: transparent;
    padding: 0 20px 20px;
  }
}
