@import url("../../styles/variables.css");

/* container de opções de pesquisa (titulo e ordem) */
.searchOptionsCtn {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: var(--main-radius);
  gap: 10px;
  justify-content: center;
  width: calc(100% - 40px);
  max-width: 600px;
  height: 55px;
  margin-top: 12px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px 1px var(--shadow-color);
}

/* container do input e do search button */
.searchTitlesCtn {
  height: 50px;
  border-radius: 12px;
  border: var(--main-border);
  display: flex;
  margin-left: 5px;
  flex: 1;
}

/* Estilos do input de pesquisa e do select */
.searchInput,
.orderSelection {
  color: var(--secondary-color);
  background-color: var(--background1);
  height: 100%;
  border: none;
  outline: none;
}

/* Estilo somente do input de pesquisa */
.searchInput {
  border-radius: var(--main-radius) 0 0 var(--main-radius);
  width: 100%;
  padding: 2px;
}

.searchInput::placeholder {
  color: var(--secondary-color);
}

.searchButton {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: var(--background1);
  cursor: pointer;
  height: 100%;
  width: 45px;
  border: none;
  border-radius: 0 var(--main-radius) var(--main-radius) 0;
}

.searchButton:hover {
  background-color: var(--background5);
}

.searchButton img {
  align-self: center;
  height: calc(100% - 10px);
}

.orderSelectionCtn {
  height: 50px;
  flex: 1;
  border-radius: 12px;
  margin-right: 5px;
  max-width: 150px;
  border: var(--main-border);
}

/* Estilo somente do select de ordem */
.orderSelection {
  border-radius: var(--main-radius);
  width: 100%;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
  flex: 1;
}
