@import url("../../styles/variables.css");

.Loading {
  content: "";
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border-style: solid;
  border-color: var(--secondary-color) var(--secondary-color-transparent)
    var(--secondary-color-transparent) var(--secondary-color-transparent);
  border-width: 10px;
  animation: loading-animation 1s infinite;
}

@keyframes loading-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
